* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero{
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 200px 1fr 50px;
    grid-template-areas: 
    "header header"
    "main main"
    "footer footer"
    ;
}
header{
    grid-area: header;
    background-color: #d0b1f7;
    /* display: flex;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: 50px 1fr 100px;
    grid-template-rows: auto;
    grid-template-areas:
    "logo navbar navbar"
    ;
    align-items: center;
}
.logo{
    grid-area: logo;
}
.navbar{
    grid-area: navbar;
    justify-self: end;
    display: flex;
}

.navbar-flex{
    display: flex;
    text-decoration: none;
    justify-content: space-between;
}

main{
    grid-area: main;
    background-color: #d0b1f7;
}

footer{
    grid-area: footer;
    background-color: blueviolet;
    justify-self: center;
}




