@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=EB+Garamond:ital@0;1&family=PT+Serif:ital@0;1&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth;
  font-family: 'Dongle', sans-serif;
  font-family: 'PT Serif', serif; }

button {
  font-size: 1.25em;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  color: white;
  background-color: blueviolet; }
  button:hover {
    background-color: rgba(161, 15, 132, 0.491); }

@media (min-width: 1440px) {
  header {
    display: flex;
    color: black;
    font-size: 2em; }
    header:hover {
      color: rgba(161, 15, 132, 0.491); }
  main #hero h1 {
    font-size: 5em; } }

body {
  font-family: 'PT Serif', serif;
  margin: 0;
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-columns: 100;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header" "main" "footer"; }

#hero {
  background-image: url("../asset/img/fondoTubos.jpg"); }

header {
  grid-area: header;
  background-color: #a583c5; }
  header .navbar .navbar-nav {
    align-items: end; }
    header .navbar .navbar-nav a {
      padding: 5px 12px;
      text-decoration: none;
      font-weight: bold;
      color: black;
      font-size: 1em; }
      header .navbar .navbar-nav a:hover {
        color: rgba(161, 15, 132, 0.491); }

main {
  grid-area: main; }

#hero {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 90vh;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../asset/img/fondoTubos.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }
  #hero h1 {
    color: white;
    font-size: 3em;
    text-shadow: 4px 4px rgba(161, 15, 132, 0.491); }
  #hero h2 {
    color: #f6d2f7;
    font-size: 1em; }
  #hero button {
    font-size: 1.5em;
    margin-top: 50px; }

#box-container {
  background-color: #73a6e0;
  color: white;
  text-align: center; }
  #box-container .contenedor {
    padding: 50px 12px; }
    #box-container .contenedor h2 {
      margin-top: 0;
      font-size: 3em;
      text-shadow: 3px 3px #b7adba;
      font-style: italic; }
    #box-container .contenedor .box h3 {
      font-size: 2em;
      text-shadow: 3px 3px #b7adba; }
    #box-container .contenedor .box p {
      display: none; }
    #box-container .contenedor .box .card {
      background-position: center center;
      background-size: cover;
      padding: 50px 0px;
      margin: 30px;
      border-radius: 15px;
      box-shadow: 2px 2px #b7adba;
      font-weight: bold; }
      #box-container .contenedor .box .card:first-child {
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../asset/img/turnos.jpg"); }
      #box-container .contenedor .box .card:nth-child(2) {
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../asset/img/resultados.png"); }
      #box-container .contenedor .box .card:nth-child(3) {
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../asset/img/contactenos.png"); }

#final {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #1e1e1e;
  color: white;
  height: 80vh;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../asset/img/sedes.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }
  #final h2 {
    font-size: 1.75em; }
  #final button {
    font-size: 1.25em;
    margin-top: 20px; }

#box-container1 {
  background-color: #5a2568;
  color: white;
  text-align: center;
  margin-top: 0;
  height: 100%; }
  #box-container1 h1 {
    font-size: 2.5em;
    text-shadow: 4px 4px rgba(0, 0, 0, 0.432); }
  #box-container1 .nosotros h3 {
    font-size: 1.5;
    color: rgba(175, 123, 162, 0.77);
    text-shadow: 4px 4px #361e36; }
  #box-container1 .nosotros p {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 0.5em;
    text-align: justify;
    text-justify: auto; }

.bg-contacto {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../asset/img/contact.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }
  .bg-contacto .form-horizontal legend {
    color: #36A0FF;
    font-size: 3em;
    text-shadow: 4px 4px rgba(0, 0, 0, 0.432);
    padding: 10px;
    margin-top: 70px; }
  .bg-contacto .form-horizontal .form-group {
    align-items: center; }
    .bg-contacto .form-horizontal .form-group .bigicon {
      font-size: 35px;
      color: #36A0FF; }

.ingreso .container-fluid {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../asset/img/fondoTubos.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }
  .ingreso .container-fluid .ingresar h1 {
    color: #36A0FF;
    font-size: 3em;
    justify-content: center; }

.busqueda {
  margin: 0;
  width: 100%;
  height: 100vh;
  background-color: #5a2568;
  color: white;
  text-align: center;
  justify-content: space-between; }
  .busqueda h1 {
    padding-top: 150px;
    padding-bottom: 20px;
    color: white;
    text-shadow: 3px 3px rgba(149, 146, 146, 0.933); }

footer {
  grid-area: footer;
  display: grid; }
  footer .grid-container {
    text-decoration: none;
    list-style: none;
    background-color: #646464;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100px;
    gap: 1rem; }
    footer .grid-container .contacto {
      margin-top: 30px;
      grid-column: 1/2; }
    footer .grid-container .redes {
      grid-column: 2/3;
      display: flex; }
      footer .grid-container .redes p {
        font-size: 1em;
        font-weight: 600;
        display: flex;
        flex-direction: row-reverse;
        padding-right: 10px; }
      footer .grid-container .redes .seguinos {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        text-align: start; }
    footer .grid-container .derechos {
      grid-column: 1/2; }
      footer .grid-container .derechos p {
        font-size: 0.5em; }
