* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth;
  font-family: 'Noto Serif Hebrew', serif; }

button {
  font-size: 1.25em;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  color: white;
  background-color: blueviolet; }

button:hover {
  background-color: rgba(161, 15, 132, 0.491); }

body {
  font-family: 'Noto Serif Hebrew', serif;
  margin: 0;
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-columns: 100;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header" "main" "footer"; }

#hero {
  background-image: url("../asset/img/fondoTubos.jpg"); }

header {
  grid-area: header; }
  header .navbar .container-fluid {
    background-color: #a583c5; }
  header .navbar a {
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 1.5em; }
    header .navbar a:hover {
      color: rgba(161, 15, 132, 0.491); }

main {
  grid-area: main; }

#hero {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 90vh;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../asset/img/fondoTubos.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }
  #hero h1 {
    color: white;
    font-size: 3em;
    text-shadow: 4px 4px rgba(161, 15, 132, 0.491); }
  #hero h2 {
    color: #f6d2f7;
    font-size: 1em; }
  #hero button {
    font-size: 1.5em;
    margin-top: 50px; }

#box-container {
  background-color: #1e518b;
  color: white;
  text-align: center; }

#box-container .contenedor {
  padding: 50px 12px; }

#box-container h2 {
  margin-top: 0;
  font-size: 3.2em; }

#box-container p {
  display: none; }

#box-container .card {
  background-position: center center;
  background-size: cover;
  padding: 50px 0px;
  margin: 30px;
  border-radius: 15px;
  box-shadow: 3px 3px #b7adba; }

.card:first-child {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../asset/img/turnos.jpg"); }

.card:nth-child(2) {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../asset/img/resultados.png"); }

.card:nth-child(3) {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../asset/img/contactenos.png"); }

#final {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #1e1e1e;
  color: white;
  height: 80vh;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../asset/img/sedes.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }

#final h2 {
  font-size: 12vw; }

#final button {
  font-size: 5vw;
  margin-top: 20px; }

footer {
  grid-area: footer;
  background-color: #e6e6e6;
  height: 100%;
  width: 100%;
  justify-self: center;
  border-style: groove none none none;
  font-weight: bold;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: "contacto phone seguinos";
  margin: 0;
  padding: 10px;
  color: #646464; }
  footer .container-contacto p {
    margin: 0;
    padding: 10px;
    font-size: 1em;
    color: #646464; }
  footer .container-contacto .contenedor-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: auto;
    width: 100%;
    background-color: #dddbdb;
    border-radius: 10px; }
    footer .container-contacto .contenedor-form .contacto {
      grid-area: contacto; }
    footer .container-contacto .contenedor-form .phone {
      grid-area: phone; }
    footer .container-contacto .contenedor-form .seguinos {
      grid-area: seguinos; }
    footer .container-contacto .contenedor-form .derechos {
      font-size: 0.5em; }
