@media screen and (min-width: 1440px){
    #hero{
        font-size: 2em;
    }
    #final{
        font-size: 2em;
        text-shadow: 3px 2px $color-boton;
    }
    .contenedor-turno{
        .imgturnos{
            align-items: center;
            .banner-turnos{
                h1{
                    font-size: 4.5em;
                }
                p{
                    font-size: 3.0em;
                    text-align: justify;  
                    text-justify: auto;;
                }
            }
            iframe{
                width: 500px;
                height: 400px;
            }
            .busqueda-ind{
                h1{
                    font-size: 4.5em;
                    text-shadow: 3px 2px $color-boton;
                }
                p{
                    font-size: 2.5em;
                    text-align: justify;  
                    text-justify: auto;;
                }
            }
        }
    }
}