@media (min-width: 1440px){
    header{
        display: flex;
        // flex-direction: row-reverse;
        color:$color-text-b;
        font-size: $letra-6;
            &:hover{
            color: $color-boton-hover;
            }
            .navbar-nav{
                display: flex;
                flex-direction: row;
                float: right;
                justify-content: flex-end;
            }        
    }
    
    main{
        #hero{
            h1{
                font-size: $letra-14;
            }
        }
    }
}