$color-boton: blueviolet;
$color-header: rgb(165, 131, 197);
$color-header-hover: rgba(194, 25, 109, 0.775);
$color-text-w: white;
$color-text-b: black;
$color-boton-hover: rgba(161, 15, 132, 0.491);
$color-letra-h2: rgb(246, 210, 247);
$background-container: rgb(115, 166, 224);
$background-footer: rgb(228, 225, 232);
$color-footer: rgb(100,100,100);
$background-container-contacto: rgb(221, 219, 219);
$background-box-busqueda:rgb(90, 37, 104);
$color-letra-h3: rgba(175, 123, 162, 0.77);
$color-text-contacto: #36A0FF;
$background-ingreso: rgba(121, 108, 8, 0.285);
$background-busqueda-h1: rgba(133, 61, 133, 0.281) ;
$border-busqueda-h1: rgb(54, 30, 54);
$b-shadow: rgb(183, 173, 186);
$bg-b: rgb(30,30,30);
$color-c:#36A0FF;


$letra-1: 0.5em;
$letra-2: 1em;
$letra-3: 1.25em;
$letra-4: 1.5em;
$letra-5: 1.75em;
$letra-6: 2em;
$letra-7: 2.25em;
$letra-8: 2.5em;
$letra-9: 2.75em;
$letra-10: 3em;
$letra-11: 3.25em;
$letra-12: 3.5em;
$letra-13: 4em;
$letra-14: 5em;

$bg-index:url("../asset/img/fondoTubos.jpg");
$card-turnos:url("../asset/img/turnos.jpg");
$card-resultados:url("../asset/img/resultados.png");
$card-contacto:url("../asset/img/contactenos.png");
$card-sedes:url("../asset/img/sedes.jpg");
$bg-contact: url("../asset/img/contact.jpg");