footer{
    grid-area: footer;
    display: grid;
    .grid-container{
        text-decoration: none;
        list-style: none;
        background-color: $color-footer;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 100px;
        gap: 1rem;
        .contacto{
            margin-top: 30px;
            grid-column: 1/2;
        }
        .redes{
            grid-column: 2/3;
            display: flex;
            p{
                font-size: $letra-2;
                font-weight: 600;
                display: flex;
                flex-direction: row-reverse;
                padding-right: 10px;
            }
            .seguinos{
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
                text-align: start;
                
            }
        }
        .derechos{
            grid-column: 1/2;
            p{
                font-size: $letra-1;
            }
        }
    }
}
