main{
    grid-area: main;
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,$bg-index;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    & h1{
    color: $color-text-w;
    font-size: 3em;
    text-shadow: 4px 4px $color-boton-hover;
    }
    & h2{
        color: $color-letra-h2;
        font-size: 1em;
    }
    & button{
        font-size: 1.25em;
        margin-top: 50px;
    }
}
#box-container{
    background-color:$background-container;
    color:$color-text-w;
    text-align: center;
    .contenedor{
        padding: 50px 12px;
        h2{
            margin-top: 0;
            font-size: 3em;
            text-shadow: 3px 3px $b-shadow;
            font-style: italic;
        }
        .box{
            h3{
                font-size: 2em;
                text-shadow: 3px 3px $b-shadow;
            }
            p{
                display: none;
            }
            .card{
                background-position: center center;
                background-size: cover;
                padding: 50px 0px;
                margin: 30px;
                border-radius: 15px;
                box-shadow: 2px 2px $b-shadow;
                font-weight: bold;
                &:first-child{
                    background-image: linear-gradient(
                        0deg,
                        rgba(0,0,0,0.5),
                        rgba(0,0,0,0.5)
                    )
                    ,$card-turnos;
                }
                &:nth-child(2){
                    background-image: linear-gradient(
                        0deg,
                        rgba(0,0,0,0.5),
                        rgba(0,0,0,0.5)
                    )
                    ,$card-resultados;
                }
                &:nth-child(3){
                    background-image: linear-gradient(
                        0deg,
                        rgba(0,0,0,0.5),
                        rgba(0,0,0,0.5)
                    )
                    ,$card-contacto;
                }
                &:hover{
                    transform: translateY(-0.9375rem);
                    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
                }
            }    
        }
    }
}

#final{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color:$bg-b;
    color: $color-text-w;
    height: 80vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,$card-sedes;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    h2{
        font-size: 2.5em;
    }
    button{
        font-size: 1.25em;
        margin-top: 20px;
    }
}

#box-container1{
    background-color: $background-box-busqueda;
    color: $color-text-w;
    text-align: center;
    margin-top: 0;
    height: 100%;
    h1{
        font-size: 2.25em;
        text-shadow: 4px 4px rgba(0, 0, 0, 0.432);
    }
    .nosotros{ 
        h3{
            font-size: 1.75em;
            color: $color-text-w;
            text-shadow: 4px 4px $border-busqueda-h1;
            padding-top: 10px;
        }
        p{
            margin-left: 10px;
            margin-right: 10px;
            font-size: 0.8em;
            text-align: justify;  
            text-justify: auto;
        }
    }
}

.bg-contacto{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,$bg-contact;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    .form-horizontal{
        legend{
            color: $color-c;
            font-size: 3em;
            text-shadow: 4px 4px rgba(0, 0, 0, 0.432);
            padding: 10px;
            margin-top: 30px;
        }
        .form-group{
            align-items: center;
            .bigicon {
                font-size: 35px;
                color: $color-c;
            }
            .btnl{
                margin-top: 10px;
                margin-bottom: 10px;
            }
        }
    }
}

.contenedor-turno{
    height: auto;
    
    .imgturnos{
        text-align: center;
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,$card-turnos;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        .banner-turnos{ 
            padding: 10px;
            width: 100%;
            height: 100%;
            color: white;
            font-size: 0.7em;
            h1{
                text-shadow: 4px 4px rgb(121, 7, 121);
            }
            p{
                font-size: 1.0em;
                text-align: justify;  
                text-justify: auto;
            }
        }
        .calendario{
            iframe{
                width: 200px;
                height: 200px;
            }
        }
        .busqueda-ind{ 
            h1{
            font-size: 2.5em;
            padding: 20px;
            color: white;
            text-shadow: 4px 4px rgb(54, 30, 54);
            }
            p{
                padding: 10px;
                font-size: 1em;
                color: white;
                text-align:justify;  
                text-justify:auto;
            }
            .example-turno{
                padding-bottom: 50px;
            }
        }
    }
}


.ingreso{
    .container-fluid{
        background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
        ,$bg-ingreso;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        .ingresar h1{
            padding-top: 20px;
            padding-bottom: 20px;
            color: $color-c;
            font-size: 2.25em;
            font-weight: bold;
            justify-content: center;
        }
        .container-contacto{
            color: white;
            font-weight: bold;
            text-shadow: 2px 2px rgb(143, 85, 129);
            input{
                width: 200px;
            }
            .mb-4{
                padding-top: 20px;
            }
        }
    }
}
main{
    .busqueda{
        margin-left: 0;
        padding-left: 1px;
        height: auto;
        width: 100%;
        background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
        ,$card-resultados;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        
        h1{
            padding-top: 10px;
            padding-bottom: 100px;
            text-align: center;
            font-size: 2.25em;
            font-weight: bold;
            color: white;
            text-shadow: 3px 3px rgba(111, 137, 140, 0.933);
        }
        p{
            padding-top: 0px;
            padding-bottom: 100px;
            font-size: 1.5em;
            color: white;
        }
        form{
            padding-bottom: 150px;
            .barra{
                height: 50px;
                width: 60%;
                padding-left: 4px;
            }
        }
    }
}