button{
    font-size: $letra-3;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 10px;
    border: 2px solid rgba(0,0,0,0.3);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color:$color-text-w;
    background-color: $color-boton;
    &:hover{
        background-color: $color-boton-hover;
    }
}
